{% extends 'dadjokes/base.html' %}

{% block title %}Random Dad Joke{% endblock %}

{% block content %}
<div class="card">
    <h2>Random Dad Joke</h2>
    {% if joke %}
        <div class="joke-text">
            {{ joke.text }}
        </div>
        <p><em>- {{ joke.name }}</em></p>
    {% else %}
        <p>No jokes available yet!</p>
    {% endif %}
</div>

{% if picture %}
<div class="card">
    <h2>Random Picture</h2>
    <div class="image-container">
        <img src="{{ picture.image_url }}" alt="Silly picture">
    </div>
    <p><em>Contributed by: {{ picture.name }}</em></p>
</div>
{% endif %}
{% endblock %}
