{% extends 'mini_insta/base.html' %}

{% block title %}Search - Mini Insta{% endblock %}

{% block content %}
<center>
    <h1>Search for Kitties and Posts</h1>
</center>

<hr>

<div style="max-width: 500px; margin: 50px auto; background-color: lightyellow; padding: 30px; border: 2px solid black;">
    <form method="GET" action="{% url 'mini_insta:search' %}">
        <center>
            <label for="query" style="font-size: 18px; font-weight: bold;">
                What are you looking for?
            </label><br><br>

            <input type="text" id="query" name="query"
                   style="width: 80%; padding: 10px; font-size: 16px; border: 1px solid black;"
                   placeholder="Search for profiles or posts..." required><br><br>

            <button type="submit"
                    style="padding: 10px 30px; background-color: lightblue; border: 2px solid black;
                           font-size: 16px; font-weight: bold; cursor: pointer;">
                Search
            </button>
        </center>
    </form>
</div>

<br>
<p style="text-align: center;">
    <a href="{% url 'mini_insta:show_own_profile' %}" style="color: blue; text-decoration: underline;">
        &lt;-- Back to Profile
    </a>
</p>
{% endblock %}